* {
    font-family: 'Rubik Doodle Shadow';
    margin: 0;
    padding: 0;
}

header {
    background-color: #17202A;
    height: 15vh;
    box-sizing: border-box;
    border-bottom: solid 2.4px white;
}

header h1 {
    text-align: center;
    color: #FDFEFE;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: .5em .25em;
    text-decoration: none;
    color: #FDFEFE;
    font-size: 1.5em;
}

nav a:hover {
    border-bottom: solid .1em white;
}

.contenedor {
    width: 100%;
    height: 85vh;
    display: flex;
    box-sizing: border-box;
}

img {
    width: 85%;
    height: auto;
    box-sizing: border-box;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: #273746;
    width: 15%;
    border-right: solid 2.4px white;
}

aside a {
    text-align: center;
    text-decoration: none;
    color: #FDFEFE;
    flex-grow: 1;
}

aside a:hover {
    /* background-color: #aaa; */
    /* border-bottom: solid .1em white; */
}
